
body{
      background-color: hsl(0, 3%, 75%);
      font-family: 'raleway';
      overflow-x:hidden ;
 }
    

#form {
    width: 40%;
    margin: 0 auto;
    border: 5px solid rgb(15, 15, 175);
    border-radius: 50px;
    height: 810px;
    width: 500px;
    padding: 20px;
    background-color: #e9ecef;;
    padding-top: 50px;
   
}

.navbar {
    background-color:#191970;
    height: 80px;
    width: 100%;
    position: fixed;
   
        
}

table{
    width: 100%;
}
#search{
   padding: 40px;
}
#thead-dark{
    background-color: #191970;
}
footer{
    text-align: center;
    background-color: rgb(8, 8, 76) ;
    padding: 0 20px;
    bottom: 0; 
    left: 0;
    height: 67px;
    width: 100%;
    color: aliceblue;
    margin-bottom: 1px;
    position: fixed;

}
#stock{
    width: 40%;
    margin: 0 auto;
    border: 5px solid rgb(15, 15, 175);
    border-radius: 50px;
    height: 300px;
    width: 500px;
    padding: 20px;
    background-color: #e9ecef;;
}
.table-hover{
  
}