
#form{
    color: rgb(46, 39, 246);
    border: 2px solid gold;
    border-radius: 25px;
    height: 350px;
    width: 600px;
    margin-left: 350px;
    padding: 40px 100px;
    background-color: rgb(202, 215, 226);
    
}

h2{
    color:rgb(113, 113, 193);
    padding: 40px 50px;
    margin-left:340px;
}
h6{
    color: rgb(103, 103, 168);
}
body{
    background-color: rgb(165, 163, 161);
    
}