{% extends 'spare/base.html'%}
{% block content%}
<br></br><br><br>


<div class="card" style="width: 60%; margin-left: 300px;">
  <div class="card-body">
    <div class="container">
      <form action="" id="Search" method="GET" style="padding-left:300px; font-weight: bolder;">
        {{product_filters.form}}
        <input type="submit" value="Search Products" style="background-color: #191970;" class="btn btn-secondary btn"/>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <h1 class="text-center" style="font-weight: bolder;">STOCK AVAILABLE</h1>
  <br>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">part_number</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <td style="font-weight: bolder;">{{product.Category_name}}</td>
        <td style="font-weight: bolder;">{{product.part_name}}</td>
        <td style="font-weight: bolder;">CW-{{product.id}}</td>
        <td style="font-weight: bolder;">{{product.total_quantity}}</td>
        <td style="font-weight: bolder;">UGX{{product.unit_price}}</td>
        <!-- Below href we are handling the buy item button and its handled by product_detail -->
        <td><a href="{% url 'product_detail' product.id %}"><input type="submit" value="BUY ITEM"
              class="btn btn-primary btn" type="button" style="background-color: #191970;" /></a></td>
      </tr>
    </tbody>

    {% endfor %}
  </table>

</div>
<br>
<br>
<br>

{% endblock %}