{% extends 'spare/base.html'%}
{% load static %}
{% block content %}

<!-- <table>
    <tbody>
        <tr>    
          <td style="font-weight: bolder;">{{product.Category_name}}</td>
          <td style="font-weight: bolder;">{{product.part_name}}</td>
          <td style="font-weight: bolder;">CW-{{product.id}}</td>
          <td style="font-weight: bolder;">{{product.total_quantity}}</td>
          <td style="font-weight: bolder;">UGX{{product.unit_price}}</td>
           Below href we are handling the buy item button and its handled by product_detail -->
          <!-- <td><a href="{% url 'product_detail' product.id %}"
                ><input
                  type="submit"
                  value="BUY ITEM"
                  class="btn btn-primary btn"
                  type="button" style="background-color: #191970;"
              /></a></td>
        </tr>
      </tbody>
      
</table> --> 
{% endblock %}