{% extends 'spare/base.html' %} 
{% block content %}
<br /><br>
<div class="container">
  <h1 class="card-header text-center">ALL RECEIPTS</h1><br>
  {% for sale in sales %}
  <div class="card" style="font-weight: bolder;">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">Customer : {{sale.buyer_names | title}}</h3>
      <h6 class="card-text"style="font-size: 20px;">Item : {{sale.part_purchased}}</h6>
      <h6 class="card-text" style="font-size: 20px;">Amount Paid:  UGX{{ sale.amount_received }}</h6>
      <h6 class="card-text" style="font-size: 20px;">Quantity: {{sale.quantity }}</h6>
      <h2 >Total Price :  UGX{{ sale.get_total }}</h2>
      <div style="flex: 1">
        <h6 class="card-text">Change Collected:  UGX{{ sale.get_change }}</h6>
        <p>********************</p>
        <p style="text-align: center;">""Be Real Because We Are Real""</p>
        <a href="{% url 'receipt_detail' sale.id %}">
          <input
            type="submit"
            value="Final Receipt"
            class="btn btn-primary"
            type="button"
          />
        </a>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %} 


 
